@model Portal.Models.ProductModel

@{
    ViewBag.Title = "Add Product";
ViewBag.ActiveMenu = "Products";
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="form-group">
                <fieldset>
                    <legend>Add Product</legend>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="label-control">Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "name" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="label-control">Price</label>
                                @Html.TextBoxFor(model => model._Price, new { @class = "form-control", type = "tel" })
                                @Html.ValidationMessageFor(model => model._Price)
                            </div>
                            <div class="col-12 col-lg-6">
                                @Html.CheckBoxFor(x => Model._Special, new { id = "special", style = "margin-top: 40px;" })
                                <label class="label-control">On Special?</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col">
                                <label class="label-control">Upload Image</label>

                                <div class="custom-file overflow-hidden rounded-pill">
                                    <input type="file" name="Image" id="Image" class="form-control custom-file-input rounded-pill" />
                                    <label for="customFile" class="custom-file-label rounded-pill">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row">

                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="label-control">Description</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col">
                                @Html.CheckBoxFor(x => Model.HasOffer, new { id = "offer" })
                                <label class="label-control">Offer?</label>
                            </div>
                        </div>

                        <fieldset id="offer-area" style="display:none">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <label class="label-control">Price</label>
                                    @Html.TextBoxFor(model => model.OfferPrice, new { @class = "form-control ", type = "tel" })
                                    @Html.ValidationMessageFor(model => model.OfferPrice)
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="label-control">End Date</label>
                                    @Html.TextBoxFor(model => model.OfferEndDate, new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(model => model.OfferEndDate)
                                </div>
                            </div>
                        </fieldset>

                        <br />
                        <button class="btn btn-primary pull-right" type="submit">Create</button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="col-12 text-center"><em>Preview</em></div>
            <br/>
            <div class="card">
                <img src="~/img/amber-engle-lHUdfk5WGXc-unsplash.jpg" class="card-img-top grayscale" alt="Product Image">
                <div class="card-body">
                    <h3 class="card-title"><span class="card-name">Hawain</span> - <small class="card-price">R69.00</small></h3>
                    <p class="card-special"></p>
                    <p class="card-description">Tomato Base, Ham & Pineapple</p>
                    <p class="card-offer"><span class="card-offer-price"></span> <span class="card-offer-date"></span></p>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>
        "use strict";
        $(document).ready(function () {
            $("#Image").change(function (e) {
                var file = e.originalEvent.srcElement.files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    $(".card-img-top").removeClass('grayscale').attr('src', reader.result);
                }
                reader.readAsDataURL(file);
            });

            $("#offer").on("change", function () {
                $("#offer-area").fadeToggle();
                $("#OfferPrice").val("");
                $("#OfferEndDate").val("");
            });

            $("#special").on("change", function () {
                if ($(this).is(':checked')) {
                    $(".card-special").html("Get it while it's hot!");
                } else {
                    $(".card-special").html("");
                }

                $(".card").toggleClass("bg-default");
            });

            $("#name").on("keyup change", function () {
                $(".card-name").html(this.value);
            });

            $("#OfferPrice").on("keyup change", function () {
                $(".card-offer-price").html("R" + this.value);
            });

            $("#OfferEndDate").on("keyup change", function () {
                $(".card-offer-date").html(this.value);
            });

            $("#Description").on("keyup change", function () {
                $(".card-description").html(this.value);
            });

            $("#zPrice").on("keyup change", function () {
                $(".card-price").html("R" + this.value);
            });

            $('.datepicker').datepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        });
    </script>
}
