@model Portal.Models.PizzaViewModel

<div class="col-lg-4 d-flex">
    <div class="services-wrap d-flex">
        <img class="col-4" src="images/@Model.ImageName" class="img-fluid" />
        <div class="text p-4">
            <h4>@Model.Name</h4>
            <h4 class="price"><span>@Model.Price</span></h4>
            <div class="form-check">
                <input name="pizza-selection" class="form-check-input" type="checkbox" value="@Model.Name.Replace(" ","").ToLower()" id="@Model.Name.Replace(" ","").ToLower()" />
                <label class="form-check-label" for="@Model.Name.Replace(" ","").ToLower()"> Completed</label>
            </div>
        </div>
    </div>
</div>