@model IEnumerable<Pezza.Common.Entities.Stock>

@{
    ViewBag.Title = "Stock";
}

<div>
    <a class="btn btn-primary" href="/Stock/Create">Add</a>
</div>
<br/>
@if (Model.Any())
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Metric</th>
            <th>Quantity</th>
            <th>Expiry Date</th>
            <th>Date Created</th>
            <th>Comment</th>
        </tr>
        @foreach (var stock in Model)
        {
            <tr>
                <td>@stock.Id</td>
                <td>@stock.Name</td>
                <td>@stock.UnitOfMeasure @stock.ValueOfMeasure</td>
                <td>@stock.Quantity</td>
                <td>@stock.ExpiryDate</td>
                <td>@stock.DateCreated.ToShortDateString()</td>
                <td>@stock.Comment</td>

            </tr>

        }
    </table>
}
else
{
    <div class="alert alert-info">No Stock Data</div>
}